body {
    text-align: center;
  }
  #bg1,#bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px ;
    z-index: -1;
 }
  #bg1{
    animation:2s infinite bg1 ;  
    animation-timing-function: linear;
  }
  #bg2{
    animation:4s infinite bg2 ;  
    animation-timing-function: linear;
  }
  @keyframes bg1{
    0%{
        transform: translateX(0%);
    }
    100%{
         transform: translateX(-100%);
    }
  }
  @keyframes bg2{
    0%{
        transform: translateX(100%);
    }
    100%{
         transform: translateX(-100%);
    }
  }
  h1{
    position: relative;
    text-align: center;
   background: rgb(61,49,255);
  background: linear-gradient(90deg, rgba(61,49,255,1) 0%, rgba(255,250,36,0.5088410364145659) 4%, rgba(0,0,0,1) 35%, rgba(156,248,251,1) 41%, rgba(255,17,17,1) 58%, rgba(216,0,255,0.68531162464986) 76%, rgba(0,3,255,0.5648634453781513) 87%, rgba(0,212,255,1) 100%);
  display: inline-block;  
  background-clip: text;  
   -webkit-background-clip: text; 
    color: transparent;
    font-size:97.32px ;
    font-family: 'Bungee', cursive;
  background-size:200%;
    animation:5s infinite colors; 
  }
  
  @keyframes colors{
    0%{
      background-position:left;
    }
       50%{
      background-position:right;
    }
      100%{
      background-position:left;
    }
  } 
  #car,#bmw{
    width: 250px ;
    position: absolute;
    bottom: 200px;
    left: 30px;
    
  }
  #bmw{
transform: scaleX(-1);
bottom: 10px;
  }